Repository NorESSI/software-layer, pull requests merged in 2023-04, with the labels that each got.

#36 Adding QuantumESPRESSO to NESSI/2022.11
  EESSI-pilot-install-software.sh
  eessi-2022.11.yml
Labels: bot:build

#89 Add FlexiBlas/3.0.4 with GCC/10.3.0 to NESSI/2022.11
  EESSI-pilot-install-software.sh
  eessi-2022.11.yml
Labels: bot:build, bot:deploy, review

#96 add GCC/10.3.0 to NESSI/2023.04
  eessi-2023.04.yml
Labels: bot:deploy, ingested, NESSI/2023.04

#100 add OpenSSL/1.1 to NESSI/2023.04
  eessi-2023.04.yml
Labels: bot:deploy, ingested, NESSI/2023.04

#105 Adding CMake/3.20.1, Perl/5.32.1 and OpenMPI/4.1.1 with GCC/10.3.0 to NESSI/2023.04
  eessi-2023.04.yml
Labels: bot:deploy, review, NESSI/2023.04
