Repository NorESSI/software-layer, pull requests merged in 2023-06, with the labels that each got.

#111 Adding ScaLAPACK/2.1.0 with gompi/2021a to NESSI/2023.04
  eessi-2023.04.yml
Labels: bot:deploy, NESSI/2023.04

#99 add GCC/12.2.0 to NESSI/2023.04
  eb_hooks.py
  eessi-2023.04.yml
Labels: bot:deploy, NESSI/2023.04

#125 init stack NESSI/2023.06
  .github/workflows/test_eessi.yml
  .github/workflows/tests_scripts.yml
  EESSI-pilot-install-software.sh
  bot/check-result.sh
  check_missing_installations.sh
  configure_easybuild
  eb_hooks.py
  eessi-2023.06-eb-4.7.2-2021a.yml
  init/eessi_defaults
  load_easybuild_module.sh
Labels: bot:deploy, ingested, NESSI/2023.06

#131 Adding CMake/3.20-Rust/1.52.1-foss/2021a to NESSI/2023.06
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#135 pull in upstream changes
  .github/workflows/test_eessi.yml
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
  EESSI-pilot-install-software.sh
  README.md
  bot/bot-eessi-aws-citc.cfg
  bot/check-build.sh
  configure_easybuild
  create_directory_tarballs.sh
  eb_hooks.py
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  init/eessi_defaults
  load_easybuild_module.sh
Labels: NESSI/2023.06

#133 Adding QuantumESPRESSO/6.7 with foss/2021a to NESSI/2023.06
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#136 use NESSI specific cfg packages & settings in test
  .github/workflows/test_eessi.yml
Labels: NESSI/2023.06

#139 {23.06} GCC/11.3.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#137 {23.06} GCC/11.2.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, NESSI/2023.06

#142 {23.06} GCC/12.2.0
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#143 {23.06}[foss/2021b] CMake + OpenMPI + FFTW + BLIS
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#144 {23.06}[foss/2022a] CMake + OpenMPI + FFTW.MPI + BLIS
  eessi-2023.06-eb-4.7.2-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#145 {23.06}[foss/2022b] CMake + OpenMPI + FFTW.MPI + BLIS
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#146 {23.06}[foss/2022b] Python/3.10.8
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#147 {23.06}[foss/2021b] add missing packages for foss/2021b
  eb_hooks.py
  eessi-2023.06-eb-4.7.2-2021b.yml
Labels: bot:deploy, NESSI/2023.06

#149 {23.06}[foss/2022b] add missing packages for foss/2022b
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#148 {23.06}[foss/2022a] add missing packages for foss/2022a
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06
