Repository NorESSI/software-layer, pull requests merged in 2023-10, with the labels that each got.

#166 {2023.06}[foss/2021a] WRF-dmpar V4.3
  eb_hooks.py
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, NESSI/2023.06

#170 {2023.06}[all toolchains] remove cURL from filter-deps and rebuild git
  configure_easybuild
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, NESSI/2023.06

#171 {23.06}[all toolchains] rebuild CMake
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: bot:deploy, NESSI/2023.06

#174 {2023.06} comment `*-from-pr` & sync with EESSI/2023.06
  EESSI-pilot-install-software.sh
  eessi-2023.06-eb-4.7.2-2021a.yml
  eessi-2023.06-eb-4.7.2-2021b.yml
  eessi-2023.06-eb-4.7.2-2022a.yml
  eessi-2023.06-eb-4.7.2-2022b.yml
Labels: NESSI/2023.06

#175 {2023.06}[system] add EasyBuild/4.8.0
  .github/workflows/test_eessi.yml
  EESSI-pilot-install-software.sh
  eessi-2023.06-eb-4.7.2-system.yml
Labels: bot:deploy, NESSI/2023.06

#176 {2023.06}[system] add EasyBuild/4.8.1
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.0-system.yml
Labels: bot:deploy, NESSI/2023.06

#173 {2023.06}[foss/2021a] Yambo V5.1.1
  eessi-2023.06-eb-4.7.2-2021a.yml
Labels: bot:deploy, NESSI/2023.06

#179 {2023.06}[foss/2022a] bio packages - set 1
  .github/workflows/test_eessi.yml
  EESSI-pilot-install-software.sh
  check_missing_installations.sh
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#181 {2023.06}[foss/2022a,system] add common dependencies - set 1
  .github/workflows/test_eessi.yml
  create_tarball.sh
  eessi-2023.06-eb-4.8.1-2022a.yml
  eessi-2023.06-eb-4.8.1-system.yml
Labels: bot:deploy, NESSI/2023.06

#182 {2023.06}[foss/2022a] add Boost.Python/1.79.0
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#184 {2023.06}[foss/2022a] add NCO/5.1.0
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#183 {2023.06}[foss/2022a] add bio packages - set 2
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#185 {2023.06}[foss/2022a] add bio packages - set 3
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#187 {2023.06}[foss/2022a] add SciPy-bundle
  eb_hooks.py
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#188 {2023.06}[foss/2022a] add Xvfb
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#186 {2023.06}[foss/2022a] add oneTBB
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#190 {2023.06}[foss/2022a] CMSeq V1.0.4
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#192 {2023.06}[foss/2022a] Pango/1.50.7
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#193 {2023.06}[foss/2022a] nodejs/16.15.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#195 {2023.06}[gompi/2022a] ecCodes V2.27.0
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#194 {2023.06}[foss/2022a] dependencies for R/4.2.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#178 {2023.06}[foss/2022a] GROMACS V2023.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#201 {2023.06}[foss/2022a] MUMPS-metis V5.5.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#202 {2023.06}[foss/2022a] Pillow V9.1.1
  eb_hooks.py
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#205 {2023.06}[foss/2022a] ParaView-mpi V5.10.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, NESSI/2023.06

#180 {2023.06}[foss/2022a] ASE V3.22.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06
