Repository NorESSI/software-layer, pull requests merged in 2024-03, with the labels that each got.

#283 Temporary fix for CI by pinning archspec version
  .github/workflows/tests.yml
  .github/workflows/tests_init.yml
Labels: NESSI/2023.06

#284 {2023.06}[foss/2023a] PLUMED V2.9.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, NESSI/2023.06

#288 {2023.06}[foss/2023a] Z3 v4.12.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#287 {2023.06}[foss/2022b] ImageMagick v7.1.0-53
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06
