Repository NorESSI/software-layer, pull requests merged in 2024-01, with the labels that each got.

#203 {2023.06}[gompi/2022a] OpenBabel V3.1.1
  .github/workflows/test_eessi.yml
  eessi-2023.06-eb-4.8.2-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, missing_aarch64

#197 {2023.06}[gompi/2022a] HISAT2 V2.2.1
  eessi-2023.06-eb-4.8.1-2022a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, missing_aarch64

#217 Modifying directory structure + drop pilot terminology
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
  EESSI-pilot-install-software.sh
  README.md
  init/Magic_Castle/bash
  init/Magic_Castle/eessi_python3
  init/bash
  init/eessi_defaults
  init/eessi_environment_variables
  init/minimal_eessi_env
  load_easybuild_module.sh
  run_in_compat_layer_env.sh
Labels: NESSI/2023.06, sync-with-EESSI

#222 subtle changes to make clear this is for NESSI
  init/Magic_Castle/bash
  init/Magic_Castle/eessi_python3
  init/README.md
  init/bash
  init/eessi_archdetect.sh
  init/eessi_environment_variables
  init/eessi_software_subdir_for_host.py
  init/minimal_eessi_env
Labels: NESSI/2023.06

#224 Changes within the init-files
  init/arch_specs/eessi_arch_arm.spec
  init/bash
  init/eessi_archdetect.sh
  init/eessi_environment_variables
Labels: NESSI/2023.06, sync-with-EESSI

#226 add most changes (except NVIDIA related ones) to bot/build.sh
  bot/build.sh
Labels: NESSI/2023.06, sync-with-EESSI

#227 added symlink for bot/check-result.sh
  bot/check-result.sh
Labels: NESSI/2023.06, sync-with-EESSI

#228 dummy scripts for job step to test software build
  bot/check-test.sh
  bot/test.sh
Labels: NESSI/2023.06, sync-with-EESSI

#229 add bot/inspect.sh script
  bot/inspect.sh
Labels: NESSI/2023.06, sync-with-EESSI

#225 Further changes to get closer to EESSI
  configure_easybuild
  create_directory_tarballs.sh
  create_tarball.sh
  eessi_container.sh
Labels: NESSI/2023.06, sync-with-EESSI

#231 Another step of syncing with EESSI
  licenses/README.md
  licenses/licenses.json
  licenses/spdx.py
  tests/archdetect/aarch64/arm/neoverse-n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/arm/neoverse-n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/arm/neoverse-v1/AWS-awslinux-graviton3.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.all.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.all.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.all.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.cpuinfo
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.output
  tests/archdetect/ppc64le/power9le/unknown-power9le.all.output
  tests/archdetect/x86_64/amd/zen2/Azure-CentOS7-7V12.all.output
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.all.output
  tests/archdetect/x86_64/intel/haswell/archspec-linux-E5-2680-v3.all.output
  tests/archdetect/x86_64/intel/skylake_avx512/archspec-linux-6132.all.output
Labels: NESSI/2023.06, sync-with-EESSI

#232 Final steps in Syncing with EESSI
  EESSI-install-software.sh
  create_lmodrc.py
  eb_hooks.py
  install_scripts.sh
  load_easybuild_module.sh
  scripts/gpu_support/nvidia/install_cuda_host_injections.sh
  scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
  scripts/utils.sh
Labels: NESSI/2023.06, sync-with-EESSI

#234 Adding NVIDIA-modification-to PR226-bot-build-sync with EESSI
  bot/build.sh
Labels: NESSI/2023.06, sync-with-EESSI

#235 add README.md for easystacks
  easystacks/pilot.nessi.no/2023.06/README.md
Labels: NESSI/2023.06, sync-with-EESSI

#236 removed easystack files for 2021.06 and 2021.12
  eessi-2021.06.yml
  eessi-2021.12.yml
Labels: NESSI/2023.06, sync-with-EESSI

#237 using pilot.nessi.no in testing eessi_container.sh
  .github/workflows/test_eessi_container_script.yml
Labels: NESSI/2023.06, sync-with-EESSI

#238 add CI for testing licenses
  .github/workflows/test_licenses.yml
Labels: NESSI/2023.06, sync-with-EESSI

#239 remove pilot from CI
  .github/workflows/tests_scripts.yml
Labels: NESSI/2023.06, sync-with-EESSI

#240 updated CI for testing archdetect
  .github/workflows/tests_archdetect.yml
  init/eessi_archdetect.sh
Labels: NESSI/2023.06, sync-with-EESSI

#241 renamed CI file and ported changes from EESSI
  .github/workflows/test-pilot.nessi.no.yml
Labels: NESSI/2023.06, sync-with-EESSI

#242 Took care of all noted changes
  create_tarball.sh
  eb_hooks.py
  eessi-2023.06-known-issues.yml
  eessi_container.sh
  init/bash
  init/eessi_archdetect.sh
  init/eessi_environment_variables
Labels: NESSI/2023.06, sync-with-EESSI

#243 use `_` instead of `-`
  init/arch_specs/eessi_arch_arm.spec
Labels: NESSI/2023.06, sync-with-EESSI

#244 remove trailing whitespace
  init/arch_specs/eessi_arch_arm.spec
Labels: NESSI/2023.06, sync-with-EESSI

#246 do not include `cfg_files.sh` in scripts tarball
  create_directory_tarballs.sh
Labels: NESSI/2023.06, sync-with-EESSI

#247 remove extra arguments
  eb_hooks.py
Labels: NESSI/2023.06, sync-with-EESSI

#248 add broadwell support to archdetect
  init/arch_specs/eessi_arch_x86.spec
Labels: NESSI/2023.06, sync-with-EESSI

#249 use archdetect
  init/eessi_defaults
Labels: NESSI/2023.06, sync-with-EESSI

#250 only pick a software subdir that is present in the CVMFS repository
  init/eessi_environment_variables
Labels: bug, NESSI/2023.06

#251 cleanup archdetect: specs for archs provided by NESSI and CI tests
  .github/workflows/tests_archdetect.yml
  init/arch_specs/eessi_arch_x86.spec
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.all.output
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/AWS-awslinux-graviton2.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.all.output
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.cpuinfo
  tests/archdetect/aarch64/neoverse_n1/Azure-Ubuntu20-Altra.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.all.output
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.cpuinfo
  tests/archdetect/aarch64/neoverse_v1/AWS-awslinux-graviton3.output
  tests/archdetect/ppc64le/power9le/unknown-power9le.all.output
  tests/archdetect/ppc64le/power9le/unknown-power9le.cpuinfo
  tests/archdetect/ppc64le/power9le/unknown-power9le.output
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.all.output
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.cpuinfo
  tests/archdetect/x86_64/amd/zen3/Azure-CentOS7-7V73X.output
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.all.output
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.cpuinfo
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.output
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2683-v4.all.output
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2683-v4.cpuinfo
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2683-v4.output
Labels: NESSI/2023.06, sync-with-EESSI

#252 remove obsolete test files, correct cpupath for skylake
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.all.output
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.cpuinfo
  tests/archdetect/x86_64/intel/broadwell/archspec-linux-E5-2680-v3.output
  tests/archdetect/x86_64/intel/skylake_avx512/archspec-linux-6132.all.output
Labels: NESSI/2023.06, sync-with-EESSI

#253 make NESSI repo cfg available and use it
  .github/workflows/tests_scripts.yml
Labels: NESSI/2023.06, sync-with-EESSI

#254 define directory that contains repos cfg
  .github/workflows/tests_scripts.yml
Labels: NESSI/2023.06, sync-with-EESSI

#216 {2023.06}[system] EasyBuild V4.9.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-001-system.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#255 sync with EESSI (eb_hooks.py)
  eb_hooks.py
Labels: NESSI/2023.06, sync-with-EESSI

#256 add known issues
  eessi-2023.06-known-issues.yml
Labels: NESSI/2023.06, sync-with-EESSI

#258 {2023.06}[foss/2022b] GLib/2.75.0
  .github/workflows/scorecards.yml
  .github/workflows/test-pilot.nessi.no.yml
  .github/workflows/test_eessi_container_script.yml
  .github/workflows/test_licenses.yml
  .github/workflows/tests.yml
  .github/workflows/tests_archdetect.yml
  .github/workflows/tests_init.yml
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, NESSI/2023.06

#257 {2023.06}[system] foss/2023a
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#215 {2023.06}[foss/2022b] Qt5 V5.15.7
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2022b.yml
Labels: bot:deploy, NESSI/2023.06

#259 {2023.06}[foss/2023a] SciPy-bundle/2023.07
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#263 {2023.06}[foss/2023a] X11 V20230603
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#260 {2023.06}[system] foss/2023b
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#264 {2023.06}[foss/2023a] BAGEL V1.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, NESSI/2023.06
