Repository NorESSI/software-layer, pull requests merged in 2024-06, with the labels that each got.

#332 {2023.06}[foss/2023b] Qt5 v5.15.13
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#388 Use LmodMessage instead of LmodWarning on loading ESPResSo v4.2.1
  create_lmodsitepackage.py
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#393 {2023.06}[foss/2023b] NLTK V3.8.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#395 use directory of called script as base dir for other scripts in `bot/inspect.sh`
  bot/inspect.sh
Labels: NESSI/2023.06, sync-with-EESSI

#399 {2023.06,2023a} dependencies for PyTorch-bundle v2.1.2
  EESSI-install-software.sh
  bot/build.sh
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
  eb_hooks.py
  eessi_container.sh
  install_scripts.sh
  run_in_compat_layer_env.sh
  scripts/extra/custom_ctypes-1.2.eb
  scripts/extra/eessi-2023.06-extra-packages.yml
  scripts/extra/install_extra_packages.sh
  scripts/gpu_support/nvidia/copy_nvidia_host_libraries.sh
  scripts/utils.sh
Labels: bot:deploy, ingested, NESSI/2023.06

#396 {2023.06}[foss/2023a] bx-python V0.10.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#401 Fix emoticon for failing test step
  bot/check-test.sh
Labels: NESSI/2023.06, sync-with-EESSI

#368 {2023.06}[gompi/2023a] BLAST+ V2.14.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#402 {2023.06}[gompi/2022b] Valgrind V3.21.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#405 Add mem per node setting in ReFrame configuration template
  reframe_config_bot.py.tmpl
  test_suite.sh
Labels: NESSI/2023.06, sync-with-EESSI

#406 Fix --extra-bind-paths argument in bot/test.sh
  bot/test.sh
Labels: NESSI/2023.06, sync-with-EESSI

#407 Dynamically create ReFrame config with correct amount of memory
  eessi_container.sh
  test_suite.sh
Labels: NESSI/2023.06, sync-with-EESSI

#409 Use default memory option during reframe tests
  test_suite.sh
Labels: NESSI/2023.06

#404 {2023.06}[gompi/2023b] Valgrind V3.23.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#410 Use default memory option during reframe tests
  test_suite.sh
Labels: NESSI/2023.06

#412 Revert back to default memory usage in ReFrame tests
  bot/test.sh
  reframe_config_bot.py.tmpl
Labels: NESSI/2023.06

#411 {2023.06}[system] EasyBuild v4.9.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#408 {2023.06}[GCCcore/2023a] grpcio V1.57.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.2-2023a.yml
  eb_hooks.py
Labels: bot:deploy, ingested, NESSI/2023.06

#403 {2023.06}[gompi/2023a] Valgrind V3.21.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#414 use latest Ubuntu in CI workflows
  .github/workflows/test-pilot.nessi.no.yml
  .github/workflows/test_eessi_container_script.yml
  .github/workflows/test_licenses.yml
  .github/workflows/tests.yml
  .github/workflows/tests_archdetect.yml
  .github/workflows/tests_init.yml
  .github/workflows/tests_readme.yml
  .github/workflows/tests_scripts.yml
Labels: NESSI/2023.06, sync-with-EESSI

#413 {2023.06}[gompi/2023b] dlb V3.4
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.2-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06
