Repository NorESSI/software-layer, pull requests merged in 2024-05, with the labels that each got.

#342 Add fix for permissions set on Lmod SitePackage and fixed spacing
  create_lmodsitepackage.py
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#343 Rebuild `hatchling 1.18.0`, `Python 3.11.*`, `Python-bundle-PyPI-2023.*` to solve `setuptools_scm`
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240501-eb-4.9.1-move-setuptools_scm-from-hatchling-to-Python.yml
Labels: bot:deploy, rebuild, NESSI/2023.06, sync-with-EESSI

#291 {2023.06}[foss/2023b] GROMACS V2024.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#345 {2023.06}[GCC/12.3.0] ncdu V1.18
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#346 make sure that software directory that corresponds to $EESSI_SOFTWARE_SUBDIR_OVERRIDE exists
  EESSI-install-software.sh
Labels: NESSI/2023.06, sync-with-EESSI

#347 Remove `build_container.sh` script (replaced by more capable `eessi_container.sh`)
  .github/workflows/tests_scripts.yml
Labels: NESSI/2023.06, sync-with-EESSI

#344 {2023.06}[foss/2023a] R-bundle-bioconductor v3.18
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#349 {2023.06}[system] CUDA v12.1.1
  easystacks/pilot.nessi.no/2023.06/README.md
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-010-CUDA.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI, GPU

#350 {2023.06}[foss/2023b] GDB v13.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, NESSI/2023.06, local:betzy

#352 add possibility to ignore certain hooks
  create_lmodsitepackage.py
Labels: enhancement, bot:deploy, NESSI/2023.06, sync-with-EESSI, GPU

#351 {2023.06}[foss/2023a] CUDA samples v12.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI, GPU

#359 bumping scorecard-action version to 2.3.1
  .github/workflows/scorecards.yml
Labels: NESSI/2023.06, sync-with-EESSI

#360 Modify create_tarball.sh to address changes under init
  create_tarball.sh
Labels: NESSI/2023.06, sync-with-EESSI

#355 Fix archdetect: ensure we use instructions introduced with ARM v8.2 for Neoverse N1
  init/arch_specs/eessi_arch_arm.spec
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#358 Easyconfig that can extend EESSI
  EESSI-extend-2023.06-easybuild.eb
  create_lmodsitepackage.py
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
  init/Magic_Castle/bash
  init/bash
  init/eessi_environment_variables
  install_scripts.sh
Labels: enhancement, bot:deploy, NESSI/2023.06, sync-with-EESSI

#361 add psm2 to filter-deps and rebuild GROMACS
  configure_easybuild
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240515-eb-4.9.1-GROMACS-correct-gmxapi-version.yml
  run_tests.sh
Labels: bot:deploy, ingested, rebuild, NESSI/2023.06, sync-with-EESSI

#362 Allow overriding the Lmod GPU driver check
  EESSI-install-software.sh
  create_lmodsitepackage.py
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#363 use NESSI_SITE_INSTALL when it is set
  EESSI-extend-2023.06-easybuild.eb
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240519-eb-4.9.1-rebuild-NESSI-extend-module.yml
  eessi_container.sh
Labels: bug, bot:deploy, ingested, NESSI/2023.06

#364 Build NESSI-extend from scratch
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240520-eb-4.9.1-rebuild-NESSI-extend-module.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#357 {2023.06}[gompi/2023a] OSU Microbenchmarks V7.2 w/ CUDA 12.1.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI, CUDA 12.1.1

#366 {2023.06}[foss/2023a] ABySS V2.3.7
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#367 {2023.06}[system] cuTENSOR v2.0.1.2 with CUDA/12.1.1
  EESSI-install-software.sh
  create_lmodsitepackage.py
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
  eb_hooks.py
  install_scripts.sh
  scripts/gpu_support/nvidia/eessi-2023.06-cuda-and-libraries.yml
  scripts/gpu_support/nvidia/install_cuda_and_libraries.sh
Labels: bot:deploy, NESSI/2023.06, GPU

#289 {2023.06}[GCCcore/12.3.0] Perl-bundle-CPAN V5.36.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#371 {2023.06}[foss/2022b] bokeh V3.2.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#372 {2023.06}[foss/2022b] MDAnalysis V2.4.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#376 {2023.06}[system] Nextflow v23.10.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#374 {2023.06}[foss/2023a] WhatsHap V2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#375 {2023.06}[foss/2022b] arrow-R V4.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#377 {2023.06}[foss/2023b] IPython v8.17.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#380 {2023.06}[foss/2022b] biom-format V2.1.15
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#385 only run OSU ReFrame tests after build job
  test_suite.sh
Labels: enhancement, NESSI/2023.06

#384 {2023.06}[gfbf/2023a] ipympl v0.9.3
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#381 {2023.06}[foss/2023a] GATK v4.5.0.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#386 {2023.06}[foss/2023a] ESPResSo V4.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#383 {2023.06}[gfbf/2022b] ASE V3.22.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#382 {2023.06}[foss/2022b] R-bundle-Bioconductor V3.16 R V4.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#369 {2023.06}[foss/2023a] PyTorch v2.1.2 with CUDA/12.1.1
  EESSI-install-software.sh
  bot/build.sh
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
  eb_hooks.py
  eessi_container.sh
  install_scripts.sh
  run_in_compat_layer_env.sh
Labels: bot:deploy, ingested, NESSI/2023.06, GPU, CUDA 12.1.1

#379 {2023.06}[foss/2022b] ParaView V5.11.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06
