Repository NorESSI/software-layer, pull requests merged in 2024-04, with the labels that each got.

#295 {2023.06}[GCCcore/12.3.0] LittleCMS V2.15
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, NESSI/2023.06

#296 {2023.06}[system] GPAW-setups V24.1.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-001-system.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#292 {2023.06}[GCCcore/13.2.0] libwebp V1.3.2, OpenJPEG V2.5.0, LittleCMS V2.15
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-001-system.yml
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06

#297 add `pre_test` hook for dealing with failing Highway tests
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: NESSI/2023.06, sync-with-EESSI

#293 add Lmod hook to set to ^smcuda when loading OpenMPI module to work around bug + renaming
  create_lmodrc.py
Labels: bot:deploy, NESSI/2023.06

#298 add hook for LAMMPS
  eb_hooks.py
Labels: NESSI/2023.06, sync-with-EESSI

#303 use apptainer version < 1.3.0
  install_apptainer_ubuntu.sh
Labels: NESSI/2023.06, sync-with-EESSI

#299 improve error reporting when EasyBuild PR is not merged
  EESSI-install-software.sh
  bot/check-build.sh
  check_missing_installations.sh
Labels: NESSI/2023.06, sync-with-EESSI

#305 workaround for LMOD to register two hooks
  create_lmodrc.py
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#307 Always use LMOD_RC file, and make sure loading CUDA apps always works when building
  create_tarball.sh
  eessi_container.sh
  init/eessi_environment_variables
  install_scripts.sh
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#306 split Lmod hooks
  EESSI-install-software.sh
  create_lmodrc.py
  create_lmodsitepackage.py
  init/eessi_environment_variables
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#308 configure Lmod via `$LMOD_CONFIG_DIR` and `$LMOD_PACKAGE_PATH` + don't set `$LMOD_RC`
  create_lmodrc.py
  init/eessi_environment_variables
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#309 remove Lmod cache update
  EESSI-install-software.sh
Labels: NESSI/2023.06, sync-with-EESSI

#310 {2023.06}[foss/2023a] parallel v20230722 (also: test remove Lmod update cache)
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
Labels: bot:deploy, NESSI/2023.06, debugging-testing, sync-with-EESSI

#312 functionality for rebuilding software
  EESSI-install-software.sh
  EESSI-remove-software.sh
  bot/build.sh
  eessi_container.sh
Labels: rebuild, NESSI/2023.06, sync-with-EESSI

#314 {2023.06}[system] EasyBuild v4.9.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-001-system.yml
Labels: bot:deploy, NESSI/2023.06

#315 skip installation of CUDA into host_injections when testing `install_software_layer.sh`
  .github/workflows/tests_scripts.yml
  EESSI-install-software.sh
  install_apptainer_ubuntu.sh
Labels: NESSI/2023.06, sync-with-EESSI

#316 Allow defining lmod hooks in host injections
  .github/workflows/tests_scripts.yml
  create_lmodsitepackage.py
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#317 let bot run EESSI test suite after building
  bot/check-build.sh
  bot/check-test.sh
  bot/test.sh
  reframe_config_bot.py.tmpl
  run_tests.sh
  test_suite.sh
Labels: NESSI/2023.06, sync-with-EESSI

#318 {2023.06}[foss/2023a,foss/2023b] ignore fakeroot and do not remove packages & rebuild GCCcore 12.3.0 / 13.2.0
  EESSI-remove-software.sh
  bot/build.sh
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240412-eb-4.9.1-GCCcore-fix-aarch64-vectorization.yml
  eessi_container.sh
Labels: bot:deploy, rebuild, NESSI/2023.06, debugging-testing, sync-with-EESSI

#319 {2023.06}[foss/2022b,foss/2023a,foss/2023b] REBUILD OpenMPI v4.1.{4,5,6}
  create_lmodsitepackage.py
  easystacks/pilot.nessi.no/2023.06/rebuilds/20240413-eb-4.9.1-OpenMPI-4.1.x-fix-smcuda.yml
Labels: bot:deploy, ingested, rebuild, NESSI/2023.06, sync-with-EESSI

#320 {2023.06}[2023a] Highway v1.0.4
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.0-2023a.yml
  eb_hooks.py
  eessi-2023.06-known-issues.yml
Labels: NESSI/2023.06, sync-with-EESSI

#321 {2023.06}[foss/2023a] BWA v0.7.17-20220923
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#324 {2023.06}[foss/2023a] PyQt5 v5.15.10
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#323 {2023.06}[foss/2023a] LAMMPS v2Aug2023_update2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
  eb_hooks.py
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#322 {2023.06}[foss/2022b] GDAL v3.6.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#327 {2023.06}[foss/2022b] waLBerla v6.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#326 {2023.06}[foss/2023a] JupyterNotebook v7.0.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#325 {2023.06}[foss/2023b] CDO v2.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#328 {2023.06}[foss/2022b] R v4.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#290 {2023.06}[foss/2023a] R-bundle-CRAN 2023.12
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#330 {2023.06}[foss/2022b] WRF v4.4.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2022b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#331 {2023.06}[foss/2023a] OpenFOAM v10
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#333 {2023.06}[foss/2023a] PyOpenGL v3.1.7
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#334 {2023.06}[foss/2023a] ipympl v0.9.3
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#335 {2023.06}[foss/2023b] Wayland v1.22.0
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#337 {2023.06}[foss/2023b] HarfBuzz v8.2.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#338 {2023.06}[foss/2023b] Mesa v23.1.9
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, ingested, NESSI/2023.06, sync-with-EESSI

#339 {2023.06}[foss/2023a] SuperLU_DIST v8.1.2
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#340 {2023.06}[foss/2023b] Qt5 dependencies
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#341 {2023.06}[foss/2023a] Hypre/2.29.0, SuiteSparse/7.1.0 and netCDF-Fortran/4.6.1
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023a.yml
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI

#329 {2023.06}[foss/2023b] DP3-6.0, WSClean 3.4 and deps
  easystacks/pilot.nessi.no/2023.06/eessi-2023.06-eb-4.9.1-2023b.yml
  eb_hooks.py
  eessi_container.sh
  run_in_compat_layer_env.sh
Labels: bot:deploy, NESSI/2023.06, sync-with-EESSI
